<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916784473458-5kb1d36mdn328v8t7619pna3jrbre7i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916784473458-5kb1d36mdn328v8t7619pna3jrbre7i6</string>
	<key>API_KEY</key>
	<string>AIzaSyDn4TTfuOzjMKp-MSytW3mklEeT8CrQzkA</string>
	<key>GCM_SENDER_ID</key>
	<string>916784473458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.com.asbin.studentconsole</string>
	<key>PROJECT_ID</key>
	<string>student-console-asbin</string>
	<key>STORAGE_BUCKET</key>
	<string>student-console-asbin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916784473458:ios:32220ea765c64b4f54e9eb</string>
</dict>
</plist>